---
layout: page
title: 关于我
subtitle: <span class="mega-octicon octicon-person"></span>&nbsp;&nbsp; About Me
menu: 关于
css: ['sidebar-popular-repo.css']
---

<div class="about row">

    <div class="col-md-8">
        <h2>个人概况</h2>
        <p>{{ site.description }}</p>

        <h2>联系方式</h2>
        <div class="about-contact-list">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-qq fa-2x"></i>{{ site.qq }}
                </li>
                <li class="list-group-item">
                    <i class="mega-octicon octicon-mail pull-left"></i><a href="mailto:{{ site.email }}" target="_top">&nbsp;{{ site.email }}</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-github fa-2x pull-left"></i><a href="{{ site.github_url }}" target="_blank">{{ site.github_url }}</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-linkedin fa-2x pull-left"></i><a href="{{ site.linkedin_url }}" target="_blank">{{ site.linkedin_url }}</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-weibo fa-2x pull-left"></i><a href="{{ site.weibo_url }}" target="_blank">{{ site.weibo_url }}</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-twitter fa-2x pull-left"></i><a href="{{ site.twitter_url }}" target="_blank">{{ site.twitter_url }}</a>
                </li>
            </ul>
        </div>

        <h2>技能 Keywords</h2>
        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
        {% include sidebar-contact.html %}
    </div>

</div>
