<section class="content container">
    <div class="row">
        <div class="col-md-4">
            {% include sidebar-post-search.html %}
            {% include sidebar-post-tag.html %}
        </div>
        <!-- Post List -->
        <div class="col-md-8">
            <ol class="post-list">
                {% for post in site.posts %}
                <li class="post-list-item {% if post.category == 'site.categories[0][0]' %}post-cat-show{% else %}post-cat-hide{% endif %}  {{ post.category }}">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ post.url }}">{{ post.title }}</a>
                        <p class="post-list-meta pull-right">
                            <span class="octicon octicon-calendar"></span>{{ post.date | date: "%Y/%m/%d" }}
                        </p>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                </li>
                {% endfor %}
            </ol>
            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        function categoryClick(category) {
            $("." + category).removeClass("post-cat-hide").addClass("post-cat-show");
        }
        var hash = window.location.hash;
        var cat;
        if(hash) {
            cat = hash.substring(1);
        } else {
            cat = $(".list-group-item:first").find("a").attr("title");
        }
        categoryClick(cat);
        $(".list-group-item > a").click(function () {
            $(".post-cat-show").removeClass("post-cat-show").addClass("post-cat-hide");
            categoryClick($(this).attr("title"));
        });
    });
</script>