<hr>
<div class="blog-menu-group user-icon-link text-center">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="mega-octicon octicon-mark-github" href="{{ site.github_url }}" target="_blank"></a>
        </li>
        <li class="list-group-item">
            <a class="mega-octicon octicon-mail" href="mailto:{{ site.email }}" target="_top"></a>
        </li>
        <li class="list-group-item">
            <a class="mega-octicon octicon-rss" href="/feed.xml" target="_blank"></a>
        </li>
    </ul>
</div>