<hr>
<div class="blog-menu-group user-icon-link text-center">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="fa fa-github fa-2x" href="{{ site.github_url }}" target="_blank"></a>
        </li>
        <li class="list-group-item">
            <a class="fa fa-facebook fa-2x" href="{{ site.facebook_url }}" target="_blank"></a>
        </li>
        <li class="list-group-item">
            <a class="fa fa-linkedin fa-2x" href="{{ site.linkedin_url }}" target="_blank"></a>
        </li>
        <li class="list-group-item">
            <a class="fa fa-weibo fa-2x" href="{{ site.weibo_url }}" target="_blank"></a>
        </li>
        <li class="list-group-item">
            <a class="fa fa-google-plus fa-2x" href="{{ site.google_plus_url }}" target="_blank"></a>
        </li>
        <li class="list-group-item">
            <a class="fa fa-rss fa-2x" href="/feed.xml" target="_blank"></a>
        </li>
    </ul>
</div>